body {
    display: flex;
    margin: 0px 220px;
    flex-direction: column;
    justify-content: center;
}

header {
    background: #093931;
    display: flex;
    gap: 218px;
    width: 1440px;
    height: 62px;
    flex-shrink: 0;
}

.header-izquierdo {
    width: 50%;
    display: flex;
    gap: 26px;
}

.header-logo {
    color: #F5D38E;
    font-family: 'Cormorant' Garamond, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    text-decoration: none;
    margin: 8px 0px 0px 130px;
}

.header-derecho {
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    margin: 0px 130px 0px 0px;
}

.Link-navegacion-header {
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    padding: 10.5px 18.63px;
    /*para separ los items*/
    font-size: 12px;
}

.Link-navegacion-header:hover {
    color: #F2C66D;
    cursor: pointer;
    text-decoration: underline solid 2px;
}

.boton-header-perfil {
    background-color: #093931;
    padding-top: 1%;
    padding-bottom: 1%px;
    border: none;
    cursor: pointer;
}

.boton-header-carrito {
    background-color: #093931;
    padding-top: 1%;
    padding-bottom: 1%px;
    border: none;
    cursor: pointer;
}

/*terminar-orden*/

.terminacion-orden {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 1440px;
    height: 660px;

}

.order-summary {
    gap: 19.33px;
    display: flex;
    flex-direction: column;
    margin: 46px 0 107px 132px;
    width: 737px;
    height: 498px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.07), 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
}



.titulo-order-summary {
    color: #171A1F;
    font-family: 'Cormorant' Garamond, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin: 24px 0 0 24px;
}

.foto-order {
    display: flex;
    gap: 50px;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 0 0 0 24px;
}

.estilos-fotos {
    width: 120px;
    height: 120px;
    border-radius: 4px;
    background: url(<path-to-image>), lightgray -30px -72px / 150% 220% no-repeat;
}

.referencia {
    color: #171A1F;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 0;
    width: 150px;
}

.codigo {
    color: #565E6C;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 0;
}

.precio {
    color: #171A1F;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    width: 196.88px;
    flex-shrink: 0;
}

.boton-borrar {
    background-color: transparent;
    border-color: transparent;
}

.boton-borrar:hover {
    cursor: pointer;
}

.payment-method {
    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.07), 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
    margin: 46px 0 50px 0;
    height: 583px;
}

.contenedor-payment-method {
    margin: 24px;
    width: 348px;
    height: 583px;
    flex-shrink: 0;
}

.titulo-payment {
    color: #171A1F;
    font-family: 'Cormorant' Garamond, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin: 0 0 8px 0;
}

.boton-change {
    color: #379AE6;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.667px;
    background-color: transparent;
    border-color: transparent;
    margin: 0 0 8px -7px;
}

.tarjetas {
    width: 300px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #0D554A;
    background: #F8F9FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-logo-banco {
    display: flex;
    margin-left: 12px;
}

.logo-tarjeta {
    width: 35px;
    height: 36px;
    flex-shrink: 0;
    margin: 12px 6px 12px 12px;
}

.banco {
    color: #0D554A;
    font-family: 'Manrope', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: 21px 0 21px 0;
}

.numero-tarjeta {
    color: #0D554A;
    text-align: right;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: 21px;
}

.bono {
    color: #171A1F;
    font-family: 'Cormorant' Garamond, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin: 32px 0 0;
}


.valor-bono {
    display: flex;
    width: 55px;
    height: 28px;
    padding: 4px 9px 4px 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 14px;
    background: #FEF9EE;
    color: #8F640C;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 9px 0 0;
}


.cuenta {
    color: #171A1F;
    font-family: 'Cormorant' Garamond, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    height: 6px;
}


.subtotal {
    display: flex;
    justify-content: space-between;
    color: #171A1F;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.detalles {
    margin: 8px 0 0;
}


.detalle {
    display: flex;
    justify-content: space-between;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 9px 0 8px 0;
    width: 300px;
    height: 32px;
}

.detalle-3 {
    display: flex;
    justify-content: space-between;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-bottom: 1px solid #F3F4F6;
    margin: 9px 0px 0px 0;
    width: 300px;
}

.pre-total {
    color: #171A1F;
    text-align: right;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.total-final {
    display: flex;
    justify-content: space-between;
    color: #171A1F;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 300px;
    height: 20px;
    align-items: center;
}


.precio-total-final {
    color: #E8502E;
    text-align: right;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;

}

.proceder-pago {
    display: inline-flex;
    padding: 9px 76px 9px 75px;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    background: #0D554A;
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0 0;
    height: 36px;
}

.contenedor-input-bono {
    display: flex;
    gap: 7px;
    margin: 8px 0 9px 0px;
}

.input-bono {
    display: flex;
    width: 220px;
    padding: 7px 0 6px 12px;
    align-items: center;
    color: #171A1F;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    border-radius: 4px;
    border: 1px solid #9095A0;
    background: #FFF;
}

.boton-aplicar-bono {
    display: inline-flex;
    padding: 7px 11px 7px 11px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #F2C66D;
    color: #6B4A09;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.contenedor-input-bono {
    display: flex;
}

/*carrusel*/
.carrusel-1 {
    background-color: #FFF;
    display: flex;
    width: 1440px;
    height: 506px;
    flex-shrink: 0;
}

.titulo-carrusel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
}

.titulo-carrusel-titulo {
    color: #0D554A;
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    margin-left: 105px;
    width: 1440px;
    
}

.ver-mas {
    color: #565E6C;
    text-align: right;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    background-color: transparent;
    border-color: transparent;
}

.galeria-carruseles {
    width: 1440px;
    overflow: hidden;
}

.card-carrusel {
    display: flex;
    gap: 24px;
    padding: 0 0 150px 99px;
    margin: 0;
    
    
}

.fotos-carruseles {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.07), 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
    list-style: none;
}

.fotos-carruseles1 {
    width: 276px;
    height: 320px;
    border-radius: 8px 8px 0 0;
}

.referencia-carruseles {
    margin: 12px;
    color: #171A1F;
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.precio-carruseles {
    margin: 0 0 12px 12px;
    color: #171A1F;
    font-family: "Manrope", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}





footer {
    background: #093931;
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 234px;
    flex-shrink: 0;
}

.logo-footer {
    display: flex;
    flex-direction: column;
    width: 26.33%;
}

.boton-footer-1 {
    color: #F5D38E;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    margin: 48px 132px 93px 132px;
}

.copy {
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0 131px;
}

.navegacion-footer {
    display: flex;
    width: 33.33%;
    gap: 100px;
}

.nav-izquierdo {
    color: #FFF;
    font-family: 'Manrope', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 48px 0 48px 84px
}

.nav-derecho {
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    width: 103%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 48px 48px 48px -59px;
}

.nav-footer {
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
}

.suscripciones-footer{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.titulo-suscripciones-footer {
    color: #FFF;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 48px 0 0 53px;
}

.texto-suscripciones-footer {
    color: #FAFAFB;
    font-family:'Manrope', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 0 53px;
}

.input-suscripciones-footer {
    display: inline-flex;
    padding: 7px 132px 6px 21px;
    align-items: center;
    gap: 6px;
    border-radius: 18px 0px 0px 18px;
    border: 1px solid #FFF;
    background: rgba(0, 0, 0, 0.00);
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 16px 0 0 53px;

}

input::placeholder{
    background-image: url("../images/Mail.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-origin: border-box;
    padding-left: 8px
}


.mail-logo{
    display: flex;
    position: relative;
    left: 65px;
    bottom: 27px;
}

.boton-footer {
    display: inline-flex;
    padding: 8px 23.5px 7px 24.5px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 18px 18px 0px;
    background: #F2C66D;
    color: #6B4A09;
    font-family:'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 15px 0px 0 -38px;
    border-color: #F2C66D;
}

.redes-sociales {
    display: flex;
    justify-content: right;
    gap: 16px;
    margin: 17px 0;
}